.login-titulo {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: $primary-color;
    background-color: transparent;
    z-index: 10;
    margin: 0;
}