.warnings-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .warning-button,
  .warning-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .warnings-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  