.advertencia-form {
    background-color: #A5BBD9;
    border-radius: 5px;
    max-width: 500px;
    margin: 1px auto;
    font-family: Arial, sans-serif;
    
  
    &__title {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      text-align: center;
    }
  
    &__label {
      display: block;
      font-size: 14px;
      color: white;
      margin-bottom: 5px;
      font-weight: bold;
      text-shadow: 
      -0.2px -1px 0 #000,
       1px -1px 0 #000, 
      -1px 1px 0 #000,  
       1px 1px 0 #000; 
    }
  
    &__input,
    &__textarea {
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;
      box-sizing: border-box;
    }
  
    &__textarea {
      resize: vertical;
    }
  
    &__button {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      background-color: #34C759;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #258d3f;
      }
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
    }
  
    &__button--cancel {
      background-color: #FF3B30;
      color: white;
      width: calc(50% - 5px); 
      
      &:hover {
        background-color: #da3229;
      }
    }
    
    &__button {
      width: calc(50% - 5px); 
      margin-left: 1px;
    }
  }